.filter-input{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  padding: .5em 1em;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 665px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: scroll;
}

.filter-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: #f0f0f0;
	background-color: #f0f0f0;
}

.filter-list::-webkit-scrollbar
{
	width: 2px;
	background-color: #ccc;
}

.filter-list::-webkit-scrollbar-thumb
{
	background-color: #ccc;
	border: 2px solid #ccc;
}

.item-title {
  font-weight: 600;
}

.filter-list li {
  padding: .5em;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  color: #777;
}
