<div class="clr-row mb-2">
  <div class="clr-col">
    <div class="wrapper-center__small">
      <label for="search" class="clr-control-label">{{label}}</label>
      <input class="filter-input" type="text" name="search" id="search" placeholder="Search {{label}}..." [(ngModel)]="search">
    </div>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col">
    <div class="wrapper-center__small">
      <ul class="filter-list">
        <li *ngFor="let item of listItems | customerFilter: search">
          <span class="item-title">{{item?.CompanyName}}</span>
          <span class="item-desc">{{item?.ContactName}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
