

<div class="clr-row">
    <div class="clr-col">

    </div>
    <div class="clr-col-12 clr-col-sm-10 clr-col-md-8 clr-col-xl-6">
      <app-filter [listItems]="customerList" [label]="'Customer'"></app-filter>
    </div>
    <div class="clr-col">

    </div>
</div>
