<header class="header">
    <div class="branding">
        <a routerLink="/" class="nav-link">
            <clr-icon shape="rack-server"></clr-icon>
            <span class="title">Angular Sample</span>
        </a>
    </div>
</header>
